name: Bot Leveling Patrick
on:
  schedule:
    - cron: '0 */5 * * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Libs
        run: pip install discord.py Pillow requests

      - name: Run Bot
        env:
          TOKEN: ${{ secrets.DISCORD_TOKEN }}
        run: |
          # Perintah ini yang bikin bot ngetem 5 jam
          timeout 295m python bot.py || echo "Waktu habis, proses simpan data..."

      - name: Auto-Save
        if: always()
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Update leveling data [skip ci]" || exit 0
          git push
